# Unnecessary 
__pycache__

# generated for users of tool
gcvit/training/labels.txt
gcvit/training/config.py

# generated for users of tool and big
assets/models/tf/* 
assets/models/tflite/*
assets/checkpoints/*